<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<iframe id="spotifyembed" src="" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<div id="song">{{ recs[0]['song'] }}</div>
<br><br>
<div id="artist">{{ recs[0]['artist'] }}</div>

<button id="increment">increment</button>

<script type = "text/javascript" src = "http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script type="text/javascript">
	var recs = {{ recs|tojson }};

	console.log(recs);

	var i = 0;
	$('#increment').click(function() {
			i = i + 1;
			$('#spotifyembed').attr('src', recs[i].uri );
			$('#song').text(recs[i].song);
			$('#artist').text(recs[i].artist)
		}
	);


</script>
</body>
</html>