/*

COLORS
------


*/

body {
    font-family: 'Nunito', 'Open-Sans', sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 4.125rem;
    letter-spacing: 0.04em;
}

h2 {
    font-size: 4.125rem;
    letter-spacing: 0.04em;
    font-weight: 300;
}

.container {
    /* border: 2px solid red;  */
}

.vertical-center {
    /* border: 2px solid red; */

	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    
    color: #545252;
}

.home {  
    background: linear-gradient(180deg, #F3F8FF 0%, #E8F2FF 93.1%, #DEECFF 100%);
}

.home .container img {
    opacity: 0.125;
    height: auto;
    width: 35vw;
}

.genre {
    background: linear-gradient(180deg, #DEECFF 0%, #D0DBFF 93.61%, #C6CFFF 100%);
}

.mood {
    background: linear-gradient(180deg, #C6CFFF 0%, #C8D1FF 93.7%, #E0E1FF 100%);
}


.energy {
    background: linear-gradient(180deg, #E0E1FF 0%, #F2E8F7 36.39%, rgba(229, 192, 230, 0.8) 100%);
}

.task {
    background: linear-gradient(180deg, #EBCFEC 0%, #CAFBFF 100%, #CBFCFF 100%);
}

.song {
    background: #CAFBFF;
}


/* GENRE */
.swiper-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: auto;
    height: 60vh;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 700px;
    margin: auto;
}
.swiper-slide img {
    height: 40vh;
    width: auto;
}

/* MOOD */
.transparent_square{
	width: 100%;
    height: auto;
}
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.central_text{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.moon_container{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 25%;
	transform: translate(-50%, -50%);
}
.moon{
	width: 100%;
	height: auto;
	position: relative;
    left: 175%;
}
.container-fluid img {
    transition: transform .2s;
}
.container-fluid img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.moon_container.joy{
	transform: translate(-50%, -50%);
}
.moon_container.sadness{
	transform: translate(-50%, -50%) rotate(45deg);
}
.moon_container.disgust{
	transform: translate(-50%, -50%) rotate(90deg);
}
.moon_container.fear{
	transform: translate(-50%, -50%) rotate(135deg);
}
.moon_container.anger{
	transform: translate(-50%, -50%) rotate(180deg);
}
.moon_container.in_love{
	transform: translate(-50%, -50%) rotate(225deg);
}
.moon_container.apathetic{
	transform: translate(-50%, -50%) rotate(270deg);
}
.moon_container.tired{
	transform: translate(-50%, -50%) rotate(315deg);
}
.moon.sadness{
	transform: rotate(-45deg);
}
.moon.disgust{
	transform: rotate(-90deg);
}
.moon.fear{
	transform: rotate(-135deg);
}
.moon.anger{
	transform: rotate(-180deg);
}
.moon.in_love{
	transform: rotate(-225deg);
}
.moon.apathetic{
	transform: rotate(-270deg);
}
.moon.tired{
	transform: rotate(-315deg);
}

/* ENERGY */
